h1 {
  font-size: 24px;
  color: #2f5799;
  font-weight: bold;
  font-family: Tahoma;
  background-color: #eff5ff;
}

h2 {
  font-size: 12px;
  color: #eff5ff;
  font-weight: bold;
  font-family: Tahoma;
  text-align: center;
  height: 2%;
}

p {
  font-family: Cambria;
  size: 16px;
  color: #636363;
}

#myMap {
	height: 100%;
	width: 100%;
}

html, body {
	height: 95%;
	margin: 0;
	padding: 0;
	background-color: #2f5799;
}

h3 {
    font-size: 12px;
    color: #eff5ff;
    font-family: Tahoma;
}